body{
    background: #5ad1ad;
	background: -webkit-linear-gradient(to right, #5ad1ad, #0513d6 160%);
    background: -moz-linear-gradient(to right, #5ad1ad, #0513d6 160%);
    background: -o-linear-gradient(to right, #5ad1ad, #0513d6 160%);
    background: linear-gradient(to right, #5ad1ad, #0513d6 160%);
    margin: 2%;
}

header{
    text-align: center;
    margin: 1.5% auto;
    padding: 2% 0;
    background-color: #ffffff11;
    width: 40%;
}

h1{
    font-family: sans-serif;
    font-size: 30px;
    margin: 0;
    margin-bottom: 2%; 
    color: #230064;
}

#Input{
    padding: 0 3%;
    width: 60%;
    height: 30px;
    margin: 2px 0;
    border: 2px solid #030b7a;
}

#addBtn{
    background-color: #ffffff;
    color: #000000;
    padding: 7px 18px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    margin: 2px 0;
    transition-duration: 0.3s;
    cursor: pointer;
    border: 2px solid #030b7a;
}

#addBtn:hover {
    background-color: #0d136e;
    color: white;
}

ul{
    margin: 0 auto;
    padding: 0;
    width: 40%;
}

ul li {
    margin: 3px;
    background-color: #fff;
    font-size: 18px;
    transition: 0.2s;
    overflow: hidden;
}

ul .checked {
    display: inline-block;
    width: 70%;
    line-height: 14px;
    background: -webkit-linear-gradient(to right, #99ffb3, #ffffff 100%);
    background: -moz-linear-gradient(to right, #99ffb3, #ffffff 100%);
    background: -o-linear-gradient(to right, #99ffb3, #ffffff 100%);
    background: linear-gradient(to right, #99ffb3, #ffffff 100%);
    color: #000;
    text-decoration: line-through;
}

.task{
    padding: 8px;
    line-height: 30px;
}

.complete, .close{
    float: right;
    text-align: center;
    width: 10%;
    font-size: 15px;
    font-weight: 900;
    transition-duration: 0.2s;
    line-height: 30px;
    cursor: pointer;
    color: white;
}

.complete{
    background-color: #19d137;
}

.complete:hover{
    background-color: #28963a;
}

.close{
    background-color: #ff0000;
}

.close:hover{
    background-color: #c02d2d;
}

@media screen and (max-width:800px){
    header{
        width: 70%;
    }
    ul{
        width: 70%;
    }
}

@media screen and (max-width:500px){
    header{
        width: 95%;
    }
    ul{
        width: 95%;
    }
}